.field {
    width: 25px;
    height: 25px;
    background-color: green;
    float: left;
    border: 1px dashed springgreen;
    box-sizing: border-box;
}

#gameField1, #gameField2 {
    width: 250px;
    display: inline-block;
}

#gameField2 {
    float: right;
}

.ship {
    background-color: orangered;
}

.none {
    background-color: lightseagreen
}