.field div[class^="col"] {
    width: 30px;
    height: 30px;
    border: 1px solid darkblue;
    background-color: lightskyblue;
    margin: 1px;
    padding: 0;    
    display: inline-block;
}

.field div[class^="row"] {
    margin-bottom: -5px ;
    padding: 0;
}
.field {
    text-align: center;
}

.field div.ship {
    background-color: darkslateblue; 
}

.field div.attackedShip {
    background-color: firebrick;
}

.field div.attackedNone {
    background-color: lightblue;
}